@{
    ViewData["Title"] = "Home Page";
}
<style>
    h1{ color:darkolivegreen;}
    a{color:darkolivegreen;}
    


</style>
<div class="text-center">
    <b> <h1 class="display-4">BEM VINDO </h1> </b>
    <b> <p>Saiba mais em: <a href="https://learn.microsoft.com/aspnet/core">Desenvolvendo aplicativos web com ASP.NET Core</a>.</p> </b>
    <b> <P> CURSO TÉCNICO DE INFORMÁTICA</P> </b>
    <b> <p> ALUNO: Pedro Henrique</p></b>
    
</div>
