@model WebAppSenac.Models.Aluno

@{
    ViewData["Title"] = "Create";
}
<style>    
    h1 {color: darkolivegreen;}
    h4 {color:darkolivegreen;}
    a {color:darkolivegreen;}   
   label{color:darkolivegreen;}
   


    }
    
</style>
<h1>Cadastro</h1>

<h4>Aluno</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <b><label asp-for="Nome" class="control-label"></label></b>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b><label asp-for="Endereco" class="control-label"></label></b>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b><label asp-for="Email" class="control-label"></label></b>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <b> <label asp-for="Telefone" class="control-label"></label></b>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><b>Lista de cadastros</b>
        </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
